# Files

* **Text** files are a sequence of characters
* __Binary__ File are a sequence of bytes.

### File Objects
Every file openned as a __file object__ created used to interact with the file.

#### Standard File Objects
The `sys` library needs imported to access the following.  

* `sys.stdin` - standard input file object
* `sys.stdout` - standard output file object
* `sys.stderr` - standard error file object

#### End of File (EOF)
* OS provides mechanism to denote EOF.

## Write to Text Files

In [1]:
names = open('names.txt','w')
names.write('Joe\n')
names.write('Sue\n')
names.write('Charlie\n')
names.close()

In [3]:
with open('filename.txt',mode='w') as x:
  x.write('100 Jones 25.98\n')
  x.write('200 Smith 34.12\n')

In [5]:
# Overwrites file
with open('filename.txt',mode='w') as x:
  x.write('300 Rogers 243.98\n')
  x.write('400 Brady 12.34\n')

In [ ]:
# Overwrite again
with open('filename.txt',mode='w') as x:
  x.write('100 Jones 25.98\n')
  x.write('200 Smith 34.12\n')

### Append to file

In [6]:
# Append to it instead
with open('filename.txt',mode='a') as x:
  x.write('300 Rogers 243.98\n')
  x.write('400 Brady 12.34\n')

> With automatically calls `close` method.

## Read from Text Files

Need to loop over each line.

In [7]:
#
with open('filename.txt', mode = 'r') as accounts:
  # Header row
  print(f'{"Acccount":<10}{"Name":<10}{"Balance":>10}')
  # Loop over records (each line is a record)
  for record in accounts:
    # unpack
    acct,name,bal = record.split()
    print(f'{acct:<10}{name:<10}{bal:>10}')

Acccount  Name         Balance
300       Rogers        243.98
400       Brady          12.34
300       Rogers        243.98
400       Brady          12.34

### Updating a file
* open file (`mode = 'r')
* create new file (`mode='w')
* loop over records writing to new file
* when line to update, write to new file
* delete old file, save new

For example, change Rogers to Williams in the accounts file (see below).

In [ ]:
import os   # used to interact with Operating System

accounts = open('accounts.txt','r')
temp = open('temp.txt','w')

# Change Rogers to Williams
with accounts, temp:
  for record in accounts:
    acct,name,bal = record.split()
    if account != '300':
      temp.write(record)
    else:
      newRecord = ' '.join(acct, 'Williams', balance])
      temp.write(newRecord +'\n')

os.remove('accounts.txt')
os.rename('temp.txt','accounts.txt')

# Reading and Writing CSV
The `csv` module needs loaded.

## Write to CSV

In [1]:
import csv

accounts = open('accounts.csv','w')
writer = csv.writer(accounts)
writer.writerow([1,2,3])
writer.writerow([4,5,6])
accounts.close()

In [2]:
import csv

with open('newaccounts.csv', mode = 'w', newline='') as newaccounts:
  writer = csv.writer(newaccounts)
  writer.writerow([1, 'Jones', 23.55])
  writer.writerow([2, 'Smith', 10.99])

## Read from CSV

In [3]:
import csv

with open('newaccounts.csv', 'r', newline='') as newaccounts:
  print(f'{"Acccount":<10}{"Name":<10}{"Balance":>10}')
  reader = csv.reader(newaccounts)
  # Loop over records (each line is a record)
  for record in reader:
    acct, name, bal = record
    print(f'{acct:<10}{name:<10}{bal:>10}')

Acccount  Name         Balance
1         Jones          23.55
2         Smith          10.99

## Reading into Pandas

In [ ]:
import pandas as pd
df = pd.read_csv('newaccounts.csv', names=['account','name','balance'])
df

   account   name  balance
0        1  Jones    23.55
1        2  Smith    10.99

In [ ]:
df.name

0    Jones
1    Smith
Name: name, dtype: object

In [ ]:
df.balance

0    23.55
1    10.99
Name: balance, dtype: float64

In [ ]:
df.iloc[1]

account        2
name       Smith
balance    10.99
Name: 1, dtype: object

In [ ]:
df[['name','balance']]

    name  balance
0  Jones    23.55
1  Smith    10.99